body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    font-family: 'Fredoka', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

/* Header and Nav */
header {
    background-color: #f0f8ff;
    margin-bottom: 20px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    text-decoration: none;
    color: #1a8cff;
    font-weight: bold;
    font-size: 1.2em;
}

nav button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

nav button:hover {
    background-color: #45a049;
}

/* Feature Box */
.feature-box {
    background-color: #f4f8ff;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.feature-box h1 {
    color: #1a8cff;
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-group button {
    background-color: #1a8cff; 
    color: white;
    padding: 10px 20px;
    margin: 0 10px; 
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #1571cc; 
}

.description {
    color: #333;
    max-width: 700px;
    margin: 0 auto; 
    font-size: 1em;
}

/* Logo Box */
.logo-box {
    background-color: #f4f8ff;
    padding: 75px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    max-width: 800px; 
}

.logo-box h1 {
    color: #1a8cff; 
    font-size: 5em;
    margin-bottom: 10px;
}

.logo-box h2 {
    color: #1a8cff; 
    font-size: 2.5em;
    margin-bottom: 10px;
}

.logo-box p {
    color: #333;
}

/* Footer */
footer {
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px 0;
    position: flex;
    bottom: 0;
    width: 100%;
}

footer .social-links a {
    margin: 0 10px;
}

footer .social-links img {
    width: 30px;
    height: auto;
}

footer button {
    background-color: #008CBA; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer button:hover {
    background-color: #007BBA;
}
