body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    font-family: 'Fredoka', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

/* Header and Nav */
header {
    background-color: #f0f8ff;
    margin-bottom: 20px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    text-decoration: none;
    color: #1a8cff;
    font-weight: bold;
    font-size: 1.2em;
}

nav button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

nav button:hover {
    background-color: #45a049;
}

/* Logo Box */

.logo-box {
    background-color: #f4f8ff; 
    padding-top: 20px; 
    font-size: 1em;
    padding: 75px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: auto;
    width: 1025px;
}

.logo-box h1 {
    color: #1a8cff; 
    font-size: 5em;
    margin-bottom: 10px;
}

.logo-box h2 {
    color: #1a8cff; 
    font-size: 2.5em;
    margin-bottom: 10px;
}

.logo-box p {
    color: #333;
}

/* Gallery */

.image-gallery {
    display: flex;
    justify-content: center; /* Aligns items centrally */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    gap: 20px; /* Space between images */
    margin: 20px 0; /* Vertical space around the gallery */
}

.gallery-item {
    flex: 0 0 auto; /* Keeps items from shrinking */
    text-align: center; /* Centers the title under the image */
}

.gallery-item img {
    max-width: 100%; /* Ensures image fits its container */
    max-height: 200px; /* Adjust as needed */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes extra space below image */
    margin: 0 auto; /* Centers image in container */
}

.image-title {
    margin-top: 10px;
    color: #333;
}

.features-section {
    text-align: center;
    margin: 20px 0;
}

.features-section h1 {
    color: #1a8cff; /* Adjust the color as per your theme */
    margin-bottom: 15px; /* Space between the title and the gallery */
}

/* Footer */
footer {
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px 0;
    position: flex;
    bottom: 0;
    width: 100%;
}

footer .social-links a {
    margin: 0 10px;
}

footer .social-links img {
    width: 30px;
    height: auto;
}

footer button {
    background-color: #008CBA; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer button:hover {
    background-color: #007BBA;
}
